---
layout: default

---

<div class="fullscreen background parallax da-all" style="background-image:url('{{site.url}}assets/frames.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
           <div class="main-title">
            <!-- <h1 class="main-1"> Welcome </h1>
             <h2 class="main-2"> to </h2>
             <h2 class="main-3"> Quality Photographic Printing </h2>  -->
       <!--      <h1 class="main-1"> Welcome to Quality Photographic Printing </h1>  -->
           </div>
        </div>
    </div>
</div>
  
<div class="not-fullscreen background parallax da-all" style="background: url('{{site.url}}assets/03_01.jpg')"; data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
             
              <h3 class="service-title da-all"> Our Services </h3> 

              <div class="main-box da-all"> 
                
                    <div class="box1 da2-da4"> 
                          <img src='{{site.url}}assets/color.png' width="100px" height="100px" class="icon1">
                          <p class="title-box"> Color Correction </p>
                           <a> Archival inkjet printing, also known as giclée, has become the standard for  photographic fine art printing and art reproduction alike. With an enormous selection of ink receptive substrates, the possibilities are endless, allowing artists to take their work exactly where they want it to go.
                          </a>
                    </div>  

                    <div class="box2 da6-da8"> 
                          <img src='{{site.url}}assets/printer.png' width="100px" height="100px" class="icon1">
                          <p class="title-box"> Inkjet Printing </p>
                          <a> Archival inkjet printing, also known as giclée, has become the standard for  photographic fine art printing and art reproduction alike. With an enormous selection of ink receptive substrates, the possibilities are endless, allowing artists to take their work exactly where they want it to go.
                          </a>
                    </div>

                    <div class="box3 da10-da12"> 
                          <img src='{{site.url}}assets/portfolio.png' width="100px" height="100px" class="icon1">
                          <p class="title-box"> Portfolio </p>
                          <a> Archival inkjet printing, also known as giclée, has become the standard for  photographic fine art printing and art reproduction alike. With an enormous selection of ink receptive substrates, the possibilities are endless, allowing artists to take their work exactly where they want it to go.
                          </a>
                    </div> 
                 
               </div>  

        </div>
    </div>
</div>
  
<section class="not-fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>

<div class="not-fullscreen background parallax da-all" style="background-color:white"; data-img-width="1600" data-img-height="1064" data-diff="100" data-oriz-pos="100%">
    <div class="content-a">
        <div class="content-b">
            <h3 class="project-title da-all"> Recent Projects</h3> 

            <div class="projects da-all">
               <div class="project1 da3-da5">
                <img src="{{site.url}}assets/frames_small.jpg" width="100%" />
               </div>

               <div class="project1 da6-da8">
                 <img src="{{site.url}}assets/frames_small.jpg" width="100%" />
               </div>

                <div class="project1 da9-da11">
                  <img src="{{site.url}}assets/frames_small.jpg" width="100%" />
               </div>

            </div> 

        </div>
    </div>
</div>
  
<section class="fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>
  
<div class="fullscreen background parallax" style="background-image:url('http://www.minimit.com/images/picjumbo.com_IMG_9857.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br><br>
        </div>
    </div>
</div>
  
<div class="not-fullscreen background parallax"  data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
          
            <div class="title da-all">Get in Touch</div>
        
            <div class="message-blurb da3-da7">
                <p class="message"> Get in touch with us to get started on your project, get quotes,
                  or have any questions about printing. We'd love to hear from you!
                </p>
            </div>

      
            <div class="message-form da3-da7">
            <form action="https://getsimpleform.com/messages?form_api_token=15117d4d0b76535576a614b115f2e1e3" method="post">            
              <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
            <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />

                 <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                 </div>

                 <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Email">
                 </div>

                   <div class="form-group">
                      <input id="input_message" class="form-control" placeholder="Message">
                  </div>

                  <div class="form-group">
                      <button class="submit" value="Send Message"> Send Message</button>
                  </div> 
              </form>      
            </div>

             <div class="icons-all da9-da12">

             <div class="location-icon"> 
                <img src='{{site.url}}assets/location3.png' height="100px" width="100px" />
                <p class="location-blurb"> Lincoln Square <br>
                Chicago,IL
                </p>
            </div>



            <div class="email-icon">  
              <img src='{{site.url}}assets/email4.png' height="100px" width="100px" />
               <p class="email-blurb">stanjane@gmail.com</p>  
            </div>

            <div class="phone-icon"> 
              <img src='{{site.url}}assets/phone.png' height="100px" width="100px" />
               <p class="number-blurb">708.707.8917</p>
            </div>
         
          </div>
        </div>
    </div>
</div>
  
<section class="not-fullscreen da-all" id="gmap_canvas">
    <div class="content-a">
        <div class="content-b">
         <!--   <div id="gmap_canvas da-all"></div>  -->
        </div>
    </div>
</section>
<!--<div class="parallax"> 
        <div id="group1" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
               <div class="title">We Make Quality Prints</div>
          </div>
        </div>

        <div id="group2" class="parallax__group">

            <div class="parallax__layer parallax__layer--base">

              <div class="title2">Our Services</div>

              <div class="main-box da-all">  
 
                    <div class="box1 da4-da5"> 
                          <img src='{{site.url}}assets/image2.png' width="50" height="50">
                          <div class="title-box"> Color Correction </div>
                    </div>  

                    <div class="box2 da6-da7"> 
                          <img src='{{site.url}}assets/image2.png' width="50" height="50">
                          <div class="title-box"> Single Images </div>
                    </div>

                    <div class="box3 da8-da9"> 
                          <img src='{{site.url}}assets/image2.png' width="50" height="50">
                          <div class="title-box"> Portfolio </div>
                    </div> 
                 
               </div>  

            </div>
        </div>
 

         <div class="parallax__layer parallax__layer--base">
             <div class="title">Services</div>
      </div>
    </div>  
        <div id="group4" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">About</div>
            </div>   
        </div>
 
            <div class="parallax__layer parallax__layer--base">
               <div class="title">Contact</div>
            </div>
         </div>

        <div id="group6" class="parallax__group">
        <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
      </div>  
             <div class="parallax__layer parallax__layer--base">
                <div class="title">Abouts</div>
            </div>   
        </div>

        <div id="group7" class="parallax__group">
          <div class="parallax__layer parallax__layer--base">
            <div class="title da-all">Let's Work Together</div>
      <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
      </div>  


 
           
            <div class="message-blurb da2-da6">
                <p class="message"> Get in touch with us to get started on your project, get quotes,
                  or have any questions about printing. We'd love to hear from you!
                </p>
             </div>

      
            <div class="message-form da2-da6">
            <form action="https://getsimpleform.com/messages?form_api_token=15117d4d0b76535576a614b115f2e1e3" method="post">            
              <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
<!--              <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />

                 <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                 </div>

                 <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Email">
                 </div>

                   <div class="form-group">
                      <input id="input_message" class="form-control" placeholder="Message">
                  </div>

                  <div class="form-group">
                      <input type="submit" value="Send Message">
                  </div> 
              </form>      
            </div>

             <div class="icons-all da8-da11">

             <div class="location-icon"> 
                <img src='{{site.url}}assets/location3.png' height="100px" width="100px" />
                <p class="location-blurb"> Lincoln Square <br>
                Chicago,IL
                </p>
            </div>



            <div class="email-icon">  
              <img src='{{site.url}}assets/email4.png' height="100px" width="100px" />
               <p class="email-blurb">info@isaiahjay.com</p>  
            </div>

            <div class="phone-icon"> 
              <img src='{{site.url}}assets/phone.png' height="100px" width="100px" />
               <p class="number-blurb">708.707.8917</p>
            </div>
         
          </div>


       <!--   <div class="where-all da10-da11"> 

            <div class="location-blurb">
            
            </div>  

            

            <div class="phone-blurb">
       
            </div> 
          
          </div>  -->
         

            
         <!--       <aside>
                    <h3>ASIDE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                </aside>
           {% for page in site.pages %}

            {% if page.tag == "show" %}

           <p><a href="{{site.url}}{{page.url}}">{{page.title}}</a></p> 

             {% else if page tag == "hidden" %}

             {% endif %}    

             {% endfor %} 


                    <section>
                   <h2> posts</h2>
                {% for post in site.posts %}


             <p> <a href="{{site.url}}{{post.url}}">{{post.title}}</a> </p>

                    </section> 

                        {% endfor %}       

             </article>   -->

 