        

<!DOCTYPE html>

<head>
       
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="{{site.url}}css/styles.css"> 
<link rel="stylesheet" href="{{site.url}}js/parallax.js">     
<link href="https://get.gridsetapp.com/31397/" rel="stylesheet" />
<script src="//use.typekit.net/jdd3nyb.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>


</head>
    

  <body>
         
   <div class="wrapper">
    
      <div class="section da-show da-showgrid">  

          <div class="main-nav da-all">  

                        <nav class="nav"> 
                                        
                            <ul>
                                <li><a href="{{site.url}}/about">Service</a></li>
                                <li><a href="#">Work</a></li>
                                <li><a href="{{site.url}}/about">Upload File</a></li>
                                <li><a href="{{site.url}}/service">About</a></li>
                                <li><a href="#">Contact</a></li>            
                            </ul>

                        </nav>
           </div>
             

          

